# Preprocessament de les dades

## Càrrega de les dades

In [1]:
import pandas as pd

file_name =  "Radiancia_SupArtif_2012_v3_sinvinculos_ASM_zenodo.xls"
sheet =  "ExtraidoRanking"

df_ranking = pd.read_excel(io=file_name, sheet_name=sheet)

df_ranking.head(2)

,Provincia,Municipio,Prov,Munic,Codigo,Nombre,Rank_Cantidad de farolas por km2,Ranking _Potencia emitida por farola,Ranking -numero de puntos de luz?,Ranking Potencia emitida Total,Ranking (Potencia emitida/km2),Ranking pob(potencia emitida/persona),Ranking tot,Mediana_rangos
0,48 Bizkaia,020 Bilbao,48,20,48020,Bilbao,52,2161,18,31,66,2171,1,59.0
1,08 Barcelona,101 Hospitalet de Llobregat (L'),8,101,8101,Hospitalet de Llobregat (L'),12,2209,66,87,97,2200,2,92.0

## Uniformització del nom dels municipis

In [2]:
import re

df_ranking["Nom_municipi"] = ""

for idx, i in enumerate(df_ranking["Nombre"]):
    if re.search("\ \((L\'|El|A|La|L(e|o|a)s)\)", i):
        det1 = re.search("\ \((L\'|El|A|La|L(e|o|a)s)\)", i).group(1)
        det = re.search("\ \((L\'|El|A|La|L(e|o|a)s)\)", i).group(0)
        remove_det = i.replace(det, "")
        name_list = [det1, remove_det]
        if det1 != None:
            if det1 == "L'":
                new_name = "".join(name_list)
            else:
                new_name = " ".join(name_list)
    else:
        new_name = i
    df_ranking.iloc[idx,14] = new_name

df_ranking.head(2)

,Provincia,Municipio,Prov,Munic,Codigo,Nombre,Rank_Cantidad de farolas por km2,Ranking _Potencia emitida por farola,Ranking -numero de puntos de luz?,Ranking Potencia emitida Total,Ranking (Potencia emitida/km2),Ranking pob(potencia emitida/persona),Ranking tot,Mediana_rangos,Nom_municipi
0,48 Bizkaia,020 Bilbao,48,20,48020,Bilbao,52,2161,18,31,66,2171,1,59.0,Bilbao
1,08 Barcelona,101 Hospitalet de Llobregat (L'),8,101,8101,Hospitalet de Llobregat (L'),12,2209,66,87,97,2200,2,92.0,L'Hospitalet de Llobregat

## Addició de la selecció de columnes

### Càrrega de la fulla "2012 (2) i uniformització dels noms"

In [3]:
df_data = pd.read_excel(io="dataset.xls", sheet_name="Sheet2")

df_data["Nom_municipi"] = ""

for idx, i in enumerate(df_data["Nombre"]):
    if re.search("\ \((L\'|El|A|La|L(e|o|a)s)\)", i):
        det1 = re.search("\ \((L\'|El|A|La|L(e|o|a)s)\)", i).group(1)
        det = re.search("\ \((L\'|El|A|La|L(e|o|a)s)\)", i).group(0)
        remove_det = i.replace(det, "")
        name_list = [det1, remove_det]
        if det1 != None:
            if det1 == "L'":
                new_name = "".join(name_list)
            else:
                new_name = " ".join(name_list)
    else:
        new_name = i
    df_data.iloc[idx,95] = new_name

df_data.head(2)

,Provincia,Municipio,Prov,Munic,Codigo,Nombre,Superficie Total (km²),SupArtif (km²),Pixeles Totales,2012-04-01 00:00:00,...,Unnamed: 86,Unnamed: 87,Gasto economico España (€),Unnamed: 89,Unnamed: 90,Consumo Electrico en España (GWh),Unnamed: 92,Unnamed: 93,Unnamed: 94,Nom_municipi
0,50 Zaragoza,172 Monreal de Ariza,50,172,50172,Monreal de Ariza,62.042,0.0,360,172.6,...,0.749038,19267.71,19267.71,NaN,NaN,NaN,NaN,NaN,NaN,Monreal de Ariza
1,16 Cuenca,071 Castillo-Albaráñez,16,71,16071,Castillo-Albaráñez,12.253,0.0,77,5.2,...,3.199632,824.73,824.73,NaN,NaN,NaN,NaN,NaN,NaN,Castillo-Albaráñez

### Superficie Total (km²)

In [4]:
df_ranking["Superficie_total"] = None

for idx, i in enumerate(df_ranking["Nom_municipi"]):
    found_match = False
    for ndx, n in enumerate(df_data["Nom_municipi"]):
        if i == n:
            df_ranking.iloc[idx, 15] = df_data.iloc[ndx, 6]
            found_match = True
            break
    if not found_match:
        df_ranking.iloc[idx, 15] = "CHECK MANUALLY"

### SupArtif (km²)

In [5]:
df_ranking["Superficie_artificial"] = None

for idx, i in enumerate(df_ranking["Nom_municipi"]):
    found_match = False
    for ndx, n in enumerate(df_data["Nom_municipi"]):
        if i == n:
            df_ranking.iloc[idx, 16] = df_data.iloc[ndx, 7]
            found_match = True
            break
    if not found_match:
        df_ranking.iloc[idx, 16] = "CHECK MANUALLY"

### Puntos de luz Estimados

In [6]:
df_ranking["Punts_llum_estimats"] = None

for idx, i in enumerate(df_ranking["Nom_municipi"]):
    found_match = False
    for ndx, n in enumerate(df_data["Nom_municipi"]):
        if i == n:
            df_ranking.iloc[idx, 17] = df_data.iloc[ndx, 76]
            found_match = True
            break
    if not found_match:
        df_ranking.iloc[idx, 17] = "CHECK MANUALLY"

### Potencia por farola sin errores

In [7]:
df_ranking["Potencia_farola_2015"] = None

for idx, i in enumerate(df_ranking["Nom_municipi"]):
    found_match = False
    for ndx, n in enumerate(df_data["Nom_municipi"]):
        if i == n:
            df_ranking.iloc[idx, 18] = df_data.iloc[ndx, 80]
            found_match = True
            break
    if not found_match:
        df_ranking.iloc[idx, 18] = "CHECK MANUALLY"

### Potència per farola actual (des de dades de 2017)

In [8]:
df_ranking["Potencia_farola_actual"] = 156

### Potència emesa a l'espai

In [9]:
df_ranking["Potencia_emesa"] = None

for idx, i in enumerate(df_ranking["Nom_municipi"]):
    found_match = False
    for ndx, n in enumerate(df_data["Nom_municipi"]):
        if i == n:
            df_ranking.iloc[idx, 20] = df_data.iloc[ndx, 38]
            found_match = True
            break
    if not found_match:
        df_ranking.iloc[idx, 20] = "CHECK MANUALLY"

### Addició de la població per municipi (any 2015)

In [10]:
pob15 = pd.read_excel(io="pobmun15.xls", sheet_name="revi15")

pob15.head(5)

   CPRO PROVINCIA  CMUN     NOMBRE   POB15  HOMBRES  MUJERES
0     2  Albacete     1  Abengibre     782      386      396
1     2  Albacete     2     Alatoz     610      340      270
2     2  Albacete     3   Albacete  172121    84233    87888
3     2  Albacete     4   Albatana     744      380      364
4     2  Albacete     5    Alborea     754      394      360

In [11]:
pob15["Nombre_actualizado"] = ""

for idx, i in enumerate(pob15["NOMBRE"]):
    if re.search(",\ (L\'|El|La|A|L(e|a|o)s)", i):
        det1 = re.search(",\ (L\'|El|A|La|L(e|a|o)s)", i).group(1)
        det = re.search(",\ (L\'|El|A|La|L(e|a|o)s)", i).group(0)
        remove_det = i.replace(det, "")
        name_list = [det1, remove_det]
        if det1 != None:
            if det1 == "L'":
                new_name = "".join(name_list)
            else:
                new_name = " ".join(name_list)
    else:
        new_name = i
    pob15.iloc[idx,7] = new_name

In [12]:
df_ranking["Poblacio_2015"] = ""

for idx, i in enumerate(df_ranking["Nom_municipi"]):
    found_match = False
    for ndx, n in enumerate(pob15["Nombre_actualizado"]):
        if i == n:
            df_ranking.iloc[idx, 21] = pob15.iloc[ndx, 4]
            found_match = True
            break
    if not found_match:
        df_ranking.iloc[idx, 21] = "CHECK MANUALLY"

## Addició de la població per municipi (2023)

In [13]:
pob23 = pd.read_excel(io="pobmun23.xls", sheet_name="dic23")

pob23.head(5)

   CPRO PROVINCIA  CMUN     NOMBRE   POB23  HOMBRES  MUJERES
0     2  Albacete     1  Abengibre     760      369      391
1     2  Albacete     2     Alatoz     491      268      223
2     2  Albacete     3   Albacete  173206    84585    88621
3     2  Albacete     4   Albatana     655      332      323
4     2  Albacete     5    Alborea     666      350      316

In [14]:
pob23["Nombre_actualizado"] = ""

for idx, i in enumerate(pob23["NOMBRE"]):
    if re.search(",\ (L\'|El|La|A|L(e|a|o)s)", i):
        det1 = re.search(",\ (L\'|El|A|La|L(e|a|o)s)", i).group(1)
        det = re.search(",\ (L\'|El|A|La|L(e|a|o)s)", i).group(0)
        remove_det = i.replace(det, "")
        name_list = [det1, remove_det]
        if det1 != None:
            if det1 == "L'":
                new_name = "".join(name_list)
            else:
                new_name = " ".join(name_list)
    else:
        new_name = i
    pob23.iloc[idx,7] = new_name

In [15]:
df_ranking["Poblacio_2023"] = ""

for idx, i in enumerate(df_ranking["Nom_municipi"]):
    found_match = False
    for ndx, n in enumerate(pob23["Nombre_actualizado"]):
        if i == n:
            df_ranking.iloc[idx, 22] = pob23.iloc[ndx, 4]
            found_match = True
            break
    if not found_match:
        df_ranking.iloc[idx, 22] = "CHECK MANUALLY"

## Salvar el dataframe en un arxiu .xls per tractar manualment els casos "CHECK MANUALLY"

In [16]:
df_ranking.to_excel("data_cleaning.xlsx", sheet_name="Sheet1")

Un cop realitzades les modificacions manualment, tornem a carregar les dades per a realitzar els càlculs.

In [17]:
df_calc = pd.read_excel(io="data_cleaning.xls", sheet_name="Sheet1", index_col=0)

## Càlculs

### Potència per habitant (2015)

In [18]:
df_calc["Potencia_habitant_2015"] = df_calc["Potencia_emesa"] / df_calc["Poblacio_2015"]

### Potència per habitant (2023)

In [19]:
df_calc["Potencia_habitant_2023"] = df_calc["Potencia_emesa"] / df_calc["Poblacio_2023"]

### Potència per punt de llum

In [20]:
df_calc["Potencia_PL_2015"] = df_calc["Potencia_emesa"] / df_calc["Punts_llum_estimats"]

### Punts de llum per habitant (2015)

In [21]:
df_calc["PL_per_habitant_2015"] = df_calc["Punts_llum_estimats"] / df_calc["Poblacio_2015"]

### Estimació de punts de llum estimats per habitant (2023)

In [22]:
df_calc["PL_estimats_habitant_2023"] = df_calc["Punts_llum_estimats"] / df_calc["Poblacio_2023"]

### Punts de llum per superfície (2015)

In [23]:
df_calc["PL_superficie"] = df_calc["Punts_llum_estimats"] / df_calc["Superficie_total"]

### Punts de llum per superfície artificial

In [24]:
df_calc["PL_superficie_art"] = df_calc["Punts_llum_estimats"] / df_calc["Superficie_artificial"]

## Guardat del conjunt de dades final

In [26]:
df_calc.to_csv("data_PR1.csv")

# Exploració del conjunt resultant

In [27]:
df_calc.shape

(2216, 30)

In [29]:
df_calc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2215
Data columns (total 31 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Provincia                              2216 non-null   object
 1   Municipio                              2216 non-null   object
 2   Prov                                   2216 non-null   int64
 3   Munic                                  2216 non-null   int64
 4   Codigo                                 2216 non-null   int64
 5   Nombre                                 2216 non-null   object
 6   Rank_Cantidad de farolas por km2       2216 non-null   int64
 7   Ranking _Potencia emitida por farola   2216 non-null   int64
 8   Ranking -numero de puntos de luz?      2216 non-null   int64
 9   Ranking Potencia emitida Total         2216 non-null   int64
 10  Ranking (Potencia emitida/km2)         2216 non-null   int64
 11  Ranking pob(potencia emitida/persona)  2216 non-null   int64
 12  Ranking tot                            2216 non-null   int64
 13  Mediana_rangos                         2216 non-null   float64
 14  Nom_municipi                           2216 non-null   object
 15  Superficie_total                       2216 non-null   float64
 16  Superficie_artificial                  2216 non-null   float64
 17  Punts_llum_estimats                    2216 non-null   float64
 18  Potencia_farola_2015                   2216 non-null   int64
 19  Potencia_farola_actual                 2216 non-null   int64
 20  Potencia_emesa                         2216 non-null   float64
 21  Poblacio_2015                          2216 non-null   int64
 22  Poblacio_2023                          2216 non-null   int64
 23  Potencia_habitant_2015                 2216 non-null   float64
 24  Potencia_habitant_2023                 2216 non-null   float64
 25  Potencia_PL_2015                       2216 non-null   float64
 26  Potencia_estimada_PL_2023              2216 non-null   float64
 27  PL_per_habitant_2015                   2216 non-null   float64
 28  PL_estimats_habitant_2023              2216 non-null   float64
 29  PL_superficie                          2216 non-null   float64
 30  PL_superficie_art                      2216 non-null   float64
dtypes: float64(13), int64(14), object(4)
memory usage: 554.0+ KB

In [28]:
df_calc.describe()

,Prov,Munic,Codigo,Rank_Cantidad de farolas por km2,Ranking _Potencia emitida por farola,Ranking -numero de puntos de luz?,Ranking Potencia emitida Total,Ranking (Potencia emitida/km2),Ranking pob(potencia emitida/persona),Ranking tot,...,Potencia_emesa,Poblacio_2015,Poblacio_2023,Potencia_habitant_2015,Potencia_habitant_2023,Potencia_PL_2015,PL_per_habitant_2015,PL_estimats_habitant_2023,PL_superficie,PL_superficie_art
count,2216.000000,2216.000000,2216.000000,2216.00000,2216.000000,2216.000000,2216.000000,2216.00000,2216.00000,2216.000000,...,2.216000e+03,2.216000e+03,2.216000e+03,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000,2216.000000
mean,25.922383,111.623646,26034.006318,1108.50000,1108.492780,1108.297834,1108.499549,1108.50000,1108.50000,1108.866877,...,1.790731e+04,1.920975e+04,1.987685e+04,1.709541,1.674039,5.423601,0.309004,0.305935,102.149448,inf
std,14.728156,151.209134,14731.282305,639.84842,639.855317,639.791936,639.847713,639.84842,639.84842,639.819272,...,5.135416e+04,8.701682e+04,9.108274e+04,1.678019,1.689402,3.385794,0.266483,0.276718,240.631034,NaN
min,1.000000,1.000000,1001.000000,1.00000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,...,9.109116e+01,3.700000e+01,3.700000e+01,0.009694,0.010804,0.555777,0.004735,0.005276,0.809990,7.788870
25%,13.000000,31.000000,13030.250000,554.75000,554.750000,554.750000,554.750000,554.75000,554.75000,555.500000,...,4.206173e+03,2.616000e+03,2.693000e+03,0.879099,0.863117,3.394748,0.230307,0.220084,11.179758,402.814143
50%,26.500000,71.000000,26584.500000,1108.50000,1108.500000,1108.500000,1108.500000,1108.50000,1108.50000,1109.000000,...,7.788909e+03,5.900000e+03,6.068500e+03,1.289887,1.259519,4.696740,0.288176,0.276690,30.422979,618.917723
75%,40.000000,140.000000,40085.250000,1662.25000,1662.250000,1661.500000,1662.250000,1662.25000,1662.25000,1664.000000,...,1.529226e+04,1.424650e+04,1.492650e+04,2.008825,1.954404,6.641080,0.353245,0.350994,86.715959,910.655908
max,52.000000,913.000000,52001.000000,2216.00000,2216.000000,2215.000000,2216.000000,2216.00000,2216.00000,2216.000000,...,1.694487e+06,3.141991e+06,3.332035e+06,42.866314,43.487565,65.713303,11.691525,11.860967,3336.908855,inf

## Previsualització del conjunt de dades resultant

In [29]:
df_calc.head(5)

,Provincia,Municipio,Prov,Munic,Codigo,Nombre,Rank_Cantidad de farolas por km2,Ranking _Potencia emitida por farola,Ranking -numero de puntos de luz?,Ranking Potencia emitida Total,...,Potencia_emesa,Poblacio_2015,Poblacio_2023,Potencia_habitant_2015,Potencia_habitant_2023,Potencia_PL_2015,PL_per_habitant_2015,PL_estimats_habitant_2023,PL_superficie,PL_superficie_art
0,48 Bizkaia,020 Bilbao,48,20,48020,Bilbao,52,2161,18,31,...,136171.994919,345141,346096,0.394540,0.393452,3.648247,0.108145,0.107847,913.850837,1900.765066
1,08 Barcelona,101 Hospitalet de Llobregat (L'),8,101,8101,Hospitalet de Llobregat (L'),12,2209,66,87,...,76524.688512,252171,274455,0.303463,0.278824,2.599483,0.116740,0.107261,2347.374326,2412.392151
2,48 Bizkaia,013 Barakaldo,48,13,48013,Barakaldo,49,2035,92,105,...,61049.694167,100228,101229,0.609108,0.603085,4.228986,0.144032,0.142607,570.773836,1916.115192
3,46 Valencia/València,250 Valencia,46,250,46250,Valencia,191,2071,3,5,...,495795.775592,786189,807693,0.630632,0.613842,7.145310,0.088258,0.085908,509.173222,1282.935764
4,11 Cádiz,012 Cádiz,11,12,11012,Cádiz,13,2101,77,145,...,49709.154048,120468,111811,0.412634,0.444582,2.934631,0.140608,0.151495,1383.211360,2389.112316